#resumeTemplate1{
    width: 700px;
    height: 990px;
    background-color: antiquewhite;
}

.profileName{

}
.contactSubtitle{

}
.contactPhone{

}
.contactEmail{

}
.contactPortfolio{

}
.contactGithub{

}
.contactLinkedin{

}
.contactAddress{

}
.educationUniversityName{

}
.educationUniversityCity{

}
.educationUniversityState{

}
.educationMonthBegin{

}
.educationYearBegin{

}
.educationMonthEnd{

}
.educationYearEnd{

}
.educationDegreeName{

}
.educationDomainName{

}
.educationGpa{

}
.experienceJobPosition{

}
.experienceCompany{

}
.experienceLocation{

}
.experienceStartDate{

}
.experienceEndDate{

}
.experienceWorkBreif{

}
.experienceImpact1{

}
.experienceImpact2{
    
}
.projectTitle{

}
.projectSkillUsed{
    
}
.projectDescription1{

}
.projectDescription2{

}
.publicationTitle{
    
}
.publicationDetails{

}
.publicationCoauthors{

}
.publicationDescription{

}
.skillsTitle{

}
.skillsSkillSet{
    
}